<h1 class="text" style="text-align: center;">Building Server-Side Operations in AG Grid with Angular, Laravel & MySQL</h1>
<p class="text">Enabled Features: Pagination, Grouping, Sorting, Filtering, Aggregrations and Asynchronous Set Filter Values</p>
<ag-grid-angular #agGrid style="width: 100%; height: 90%;" id="myGrid" class="ag-theme-alpine-dark"
  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowModelType]="rowModelType"
  [serverSideStoreType]="serverSideStoreType" [pagination]="true" [animateRows]="true" [enableRangeSelection]="true"
  [paginationAutoPageSize]="true" [autoGroupColumnDef]="autoGroupColumnDef" [rowData]="rowData"
  [rowGroupPanelShow]="'always'" (gridReady)="onGridReady($event)"></ag-grid-angular>