<h1 class="text" style="text-align: center;">Server-Side Operations With Laravel and MySQL</h1>
<p class="text">Enabled Features: Pagination, Grouping, Sorting, Filtering and Aggregrations</p>
<ag-grid-angular #agGrid style="width: 100%; height: 90%;" id="myGrid" class="ag-theme-alpine-dark"
  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowModelType]="rowModelType"
  [serverSideStoreType]="serverSideStoreType" [pagination]="true" [animateRows]="true" [enableRangeSelection]="true"
  [paginationAutoPageSize]="true" [autoGroupColumnDef]="autoGroupColumnDef" [rowData]="rowData"
  [rowGroupPanelShow]="'always'" (gridReady)="onGridReady($event)"></ag-grid-angular>